.App {
  margin: 100px;
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'Karla', sans-serif;
}

input {
  height: 40px;
  width: 80%;
  border-radius: 4px;
  padding: 4px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
}

input.new-tag {
  width: 50%;
  margin: 10px 0px;
  height: 32px
}

input.new-tag-submit {
  width: 30%;
  cursor: pointer;
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
  font-weight: 700;
}

input#toggle {
  height: 25px;
  width: 25px;
}

form.new-tag {
  padding: 20px;
  display: grid;
}

.article-list {
  column-count: 2;
  padding: 20px;
}

.article-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 80px;
  width: 500px;
  break-inside: avoid;
  -webkit-column-break-inside: avoid
}

.card-container {
  padding: 20px;
}

.description {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.tag {
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 14px;
  margin: 6px;
  background-color: rgb(116, 52, 17);
  color: white;
  font-weight: 700;
  border: none;
}

.search-bar {
  margin: 20px 0px;
  background-color: rgb(244, 240, 236);
  padding: 20px;
  border-radius: 6px;
}

.tag-list {
  display: block;
  margin: 30px 0px;
  background-color: rgb(244, 240, 236);
  padding: 20px;
  border-radius: 6px;
}

.toggle {
  margin: 20px 0px;
  background-color: rgb(244, 240, 236);
  padding: 20px;
  border-radius: 6px;
}

h1.header {
  font-size: 48px;
  font-family: "Karla", sans-serif;
}

h2.header {
  font-size: 24px;
  font-family: "Karla", sans-serif;
}

h3 {
  font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 0px
}

h2, h3, h4, p {
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}