.App {
  margin: 100px;
}

body {
  font-family: 'Karla', sans-serif;
}

.article-list {
  column-count: 2;
  padding: 20px
}

.article-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 60px;
  width: 500px
}

.card-container {
  padding: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px
}

h3 {
  font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 0px
}

img {
  width: 500px;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}